/* div
{
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    
} */
.one
{
    background-color:limegreen;    
    width:2%;
}
.two
{
    background-color:orange;
    width: 50%; height: 550px; float:left;
}
.three
{
    background-color: hotpink;
    width: 50%; height: 550px; float:left;
}